/* @import '~normalize.css'; */
:root {
  --color-error: crimson;
  --color-success: darkgreen;
  /* --color-boxes: darkslategrey; */
  --color-boxes: gray;
  --color-modal: white;

  --color-body: white;
  --color-filtered: white;
  --color-input: white;
  --color-button: white
}

* {
  box-sizing: border-box;
  border-radius: 0.5rem;
}

button {
  background-color: var(--color-button);
}

html {
  font-size: 10px;
}

body {
  height: 100svh;
  background-color: var(--color-body)
}

*, button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
}



.highlighted {
  color: var(--color-error);
}

.output-ul {
  list-style-type: none;
  padding: 0;
}

.output-li {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
}

.output-li > * {
}

.output-box {
  width: 5rem;
  min-height: 5rem;
  margin-right: 1rem;
}

.output-item {
  min-height: 5rem;
  width: 100%;
  margin-right: 1rem;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#input {
  width: 100%;
  background-color: var(--color-input);
  border: 2px solid gray;
  min-height: 3rem;
  font-size: 2rem;
  padding: 1rem;
}

.input-box-icon {
  width: 35px;
  filter: grayscale(1);
}

.input-button {
  border: none;
  background-color: unset;
}

.status-container {
  position: relative;
  margin: 0;
  font-size: 1.7rem;
  min-height: 3rem;
  padding: 0.5rem;
}

.status-container > * {
  font-size: 1.7rem;
  top: 0;
  left: 0;
  margin: 0;
}

.status-error {
  color: var(--color-error);
}
.status-success {
  color: var(--color-success);
}

#create {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.modal {
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  backdrop-filter: blur(2px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal > * {
  font-size: 3rem;
  color: black;
  width: 30rem;
  height: 30rem;
  border: 2px solid gray;
  padding: 1rem;
  box-shadow: 5px 5px gray;
  background-color: var(--color-modal);
}

#boxes {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-content: space-evenly;
  justify-content: space-evenly;
  /* background-color: var(--color-modal); */
}

#boxes > li {
  border: 1px solid gray;
  width: 4.2rem;
  height: 4.2rem;
  font-size: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-boxes);
  color: white;
}

.modal-item-button-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
}

.item-change {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.item-change-input-container {
  width: 100%;
  padding: 0 1px;
}

.item-change-input-container > input {
  display: block;
  width: 100%;
  padding: 1rem;
}

.item-change-buttons-container{
  display: flex;
  justify-content: space-around;
}

.item-change-buttons-container > button {
  padding: 1rem;
}